*{
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    font-family: 'Merriweather Sans', sans-serif;
}
.header-container{
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%) , url("../images/Banner\ Image.png");
    /* background-image: url("../images/Banner\ Image.png"); */
    width: 1320px;
    height: 600px;
    margin: 50px 165px;
    border-radius: 16px;

}
.header-container h4{
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 32px;
    font-weight: 400;
    position:absolute;
    margin: 170px 530px;
}
.header-container h3{
    width: 600px;
    color: #fbeaea;
    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
    line-height: 95px; 
    position: absolute;
    margin: 220px 350px;
}
.offer{
    text-align: center;
    margin-top: 120px;
}
.offer-percent{
    color: #F00;
    font-family: Inter;
    font-size: 88px;
    font-weight: 700;
    margin-bottom: 0;
}
.holiday-deal{
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    margin-top: 45px;
    margin-bottom: 0;
}
.catagoti{
    color: #070211;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    margin-top: 15px;
}
.offer{
    margin-top: 45px;
}
.section-container{
    width: 100%;
    margin: 120px 175px;
}
.victory{
    width: 1320px;
    height: 600px;
    background: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url("../images/Vectorrr.png");
    /* background-image: url("../images/Vectorrr.png"); */
    display: flex;
    border-radius: 16px;
}
.victory-details{
    width: 50%;
    margin-left: 120px;
}
.victory-title{
    width: 640px;
    margin: 125px 0 0 0;
    color: #FFF;
    font-family: Merriweather;
    font-size: 64px;
    font-style: normal;
    font-weight: 900;
    line-height: 88px; /* 137.5% */
    letter-spacing: 7.04px;
}
.victory-description{
    width: 600px;
    margin: 20px 0 0 0;
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}
.join{
    color: #FFF;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 700;
    border: 0;
    background: 0;
    margin-top: 45px;
}
.new-year{
    margin: 65px;
}
.hotel{
    width: 1320px;
    height: 482px;
    text-align: center;
    margin: 120px 175px;
    border-radius: 8px;
    background:linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);;
}
.hotel-details span{
    color: #F00;
}
.hotel-details{
    padding-top: 80px;
}
.hotel-details{
    color: #070211;
    font-family: 'Inter', sans-serif;
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    /* line-height: 56px; */
    text-transform: capitalize;
}
.join-now{
    padding: 13px 30px;
    border-radius: 8px;
    background: #F00;
    color: #FFF;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 700;
    border: 0;
}
.upcoming-offer{
    width: 1320px;
    height: 400px;
    display: flex;
    /* justify-content: space-between; */
    margin: 120px 170px;
    gap: 100px;
}
.offer-details{
    width: 400px;
    text-align: left;
    margin-top: 80px;
}
.offer-title{
    color: #F00;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 0;
}
.coming-soon{
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    /* margin-top: 10px; */
    margin: 10px 0 0 0;
}
.offer-description{
    color: rgba(7, 2, 17, 0.60);
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    margin-top: 20px;
}
.circle{
    display: flex;
    width: 400px;
    height: 400px;
    border-radius: 463px;
    border: 15px solid #F00;
    justify-content: center;
}
.circle-image{
    padding: 40px;
    
}
#year-title{
    margin-top: 70px;
}
.year{
    color: #F00;
    font-family: Inter;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 0;
}
.year-description{
    width: 275px;
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 23px; /* 160% */
    margin-bottom: 0;
}
#year-title img{
    width: 140px;
    height: 140px;
    margin-top: 10px;
}
